{
  "target_defaults": {
    "default_configuration": "{{ "Debug" if is_debug else "Release" }}"
  },

  "variables": {
    "node_module_version": {{ node_module_version }},
    "node_report": "{{ node_report }}",
    "node_shared": {{ is_component_build | to_number }},
    {# v8_enable_inspector is a misnomer, since this is actually a node config #}
    "v8_enable_inspector": {{ node_enable_inspector | to_number }},
    "v8_enable_i18n_support": {{ v8_enable_i18n_support | to_number }}
  }
}
